@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  background-color: #333;
  overflow-x: hidden;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem 2rem;
  background-color: #333;
  border-radius: 40px;
  margin: 1rem 4rem;
  box-shadow: 8px 8px 12px rgba(163, 160, 160, 0.8);
  position: sticky;
  top: 1rem;
  z-index: 100;
}
header h2 {
  margin-right: 2rem;
  font-size: 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h2 img {
  width: 2rem;
  height: 2rem;
  margin: 0 0.3rem;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  height: 3rem;
  width: auto;
  border-radius: 40px;
  background-color: #a00e13;
}
header nav a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 0 0.4rem;
  border-radius: 30px;
}

header nav a:hover {
  background-color: #333;
  transition: all 0.3s ease;
}
#current {
  background-color: #333;
}
header div {
  margin-right: 1rem;
  height: 2.2rem;
  width: 2rem;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  display: none;
}
header div:hover {
  cursor: pointer;
}

.navModel {
  width: 10rem;
  height: auto;
  background-color: #a00e13;
  text-align: center;
  position: fixed;
  top: 2.5rem;
  right: -10rem;
  padding: 0.5rem;
  z-index: 101;
  animation: navigation 0.5s ease-in-out forwards;
  box-shadow: 2px 2px 4px #d2d1d1 ;
}
@keyframes navigation {
  from {
    top: 2.5rem;
    right: -10rem;
  }
  to {
    top: 2.5rem;
    right: 3.5rem;
  }
}

.navModel a {
  text-decoration: none;
  color: #fff;
  margin: 0.2rem 0;
  display: block;
  padding: 0.5rem;
}

.navModel a:hover {
  background-color: #333;
  transition: all 0.2s ease;
  border-radius: 4px;
}
#nav,
#closeMenuBar {
  display: none;
}

/* section */
#section1 {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem 1rem 3rem;
  margin: 3rem 1rem 1rem 1rem;
}
#left {
  width: 50%;
  padding: 0.5rem;
}

#left h3 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700;
}
#left h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #a00e13;
  text-shadow: -2px 2px 4px rgba(252, 252, 252, 1);
}
#left p {
  color: #fff;
  padding: 0.5rem 0.5rem 0.5rem 0;
  text-align: justify;
}
#left #element {
  color: #a00e13;
  text-shadow: 1px 1px 2px rgba(252, 252, 252, 1);
}
.social-media {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.social-media a {
  height: 3rem;
  width: 3rem;
  font-size: 1.8rem;
  color: #fff;
  margin-right: 0.5rem;
  border-radius: 50%;
  border: 4px solid #a00e13;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.5rem;
}
.social-media a:hover {
  scale: 1.1;
  transition: all 0.2s ease;
  -webkit-box-shadow: 1px 1px 50px 10px rgba(244, 16, 16, 0.803);
  -moz-box-shadow: 1px 1px 50px 10px rgba(233, 28, 28, 0.9);
  box-shadow: 1px 1px 50px 10px rgba(244, 13, 13, 0.852);
  color: #a00e13;
}
#resume,
#contactbtn,
#messagebtn {
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 1rem 2rem;
  margin: 1rem 0;
  display: inline-block;
  border-radius: 30px;
  background-color: #a00e13;
}

#resume:hover,
#contactbtn:hover,
#messagebtn:hover {
  transition: all 0.2s ease;
  -webkit-box-shadow: 1px 1px 50px 10px rgba(244, 16, 16, 0.803);
  -moz-box-shadow: 1px 1px 50px 10px rgba(233, 28, 28, 0.9);
  box-shadow: 1px 1px 50px 10px rgba(244, 13, 13, 0.852);
  scale: 0.95;
}

#right {
  position: relative;
  width: 50%;
  padding: 0.5rem;
  height: 30rem;
}
#right div {
  position: absolute;
}
#right #myimage {
  background-image: url("assets/romit1.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20rem;
  height: 20rem;
  border: 5px solid #333;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: imageBounce 1.1s infinite backwards ease-out alternate-reverse;
}
#right img {
  width: 3rem;
  height: 4rem;
  position: absolute;
}
#right #logo1 {
  top: 10%;
  left: 12%;
  z-index: -1;
  animation: csslogo 1.1s infinite backwards ease-out alternate-reverse;
}
#right #logo2 {
  right: 20%;
  bottom: 10%;
  z-index: -1;
  animation: htmllogo 1.1s infinite backwards ease-out alternate-reverse;
}
#right #logo3 {
  right: 10%;
  top: 10%;
  z-index: -1;
  animation: jslogo 1.1s infinite backwards ease-out alternate-reverse;
}
#right #logo4 {
  left: 20%;
  bottom: 10%;
  z-index: -1;
  animation: nodelogo 1.1s infinite backwards ease-out alternate-reverse;
}
#right #logo5 {
  left: 15%;
  bottom: 30%;
  z-index: -1;
  animation: reactlogo 1.1s infinite backwards ease-out alternate-reverse;
}
#right #logo6 {
  top: 1rem;
  left: 25%;
  z-index: -1;
  width: 5rem;
  height: 5rem;
  animation: mongologo 1.1s infinite backwards ease-out alternate-reverse;
}
#right #logo7 {
  right: 5%;
  bottom: 20%;
  z-index: -1;
  animation: pythonlogo 1.1s infinite backwards ease-out alternate-reverse;
}
#right #logo8 {
  right: 5%;
  bottom: 50%;
  z-index: -1;
  width: 5rem;
  height: 5rem;
  animation: cpplogo 1.1s infinite backwards ease-out alternate-reverse;
}
#right #logo9 {
  left: 5%;
  top: 40%;
  z-index: -1;
  width: 5rem;
  height: 5rem;
  animation: boostraplogo 1.1s infinite backwards ease-out alternate-reverse;
}

/* Animations */
@keyframes imageBounce {
  from {
    top: 50%;
    left: 50%;
    box-shadow: 2px 2px 10px 30px #3333;
  }
  to {
    top: 45%;
    left: 50%;
    box-shadow: 2px 2px 50px 40px rgba(243, 13, 13, 0.552);
  }
}
@keyframes htmllogo {
  from {
    right: 20%;
    bottom: 10%;
  }
  to {
    right: 25%;
    bottom: 10%;
  }
}
@keyframes csslogo {
  from {
    top: 10%;
    left: 12%;
  }
  to {
    top: 15%;
    left: 12%;
  }
}
@keyframes jslogo {
  from {
    right: 10%;
    top: 10%;
  }
  to {
    right: 15%;
    top: 12%;
  }
}
@keyframes reactlogo {
  from {
    left: 10%;
    bottom: 30%;
  }
  to {
    left: 10%;
    bottom: 20%;
  }
}
@keyframes pythonlogo {
  from {
    right: 5%;
    bottom: 20%;
  }
  to {
    right: 15%;
    bottom: 25%;
  }
}
@keyframes mongologo {
  from {
    top: 1rem;
    left: 25%;
  }
  to {
    top: 0rem;
    left: 25%;
  }
}
@keyframes nodelogo {
  from {
    left: 25%;
    bottom: 10%;
  }
  to {
    left: 20%;
    bottom: 5%;
  }
}
@keyframes cpplogo {
  from {
    right: 5%;
    bottom: 50%;
  }
  to {
    right: 10%;
    bottom: 50%;
  }
}
@keyframes boostraplogo {
  from {
    left: 5%;
    top: 40%;
  }
  to {
    left: 15%;
    top: 40%;
  }
}
@keyframes leftbox {
  from {
  }
  to {
  }
}
@keyframes rightbox {
  from {
  }
  to {
  }
}

/* media query */
@media screen and (max-width: 840px) {
  header {
    margin: 0.5rem;
  }
  header nav {
    display: none;
  }
  header #menuBar {
    display: block;
  }
  #section1 {
    flex-direction: column;
    padding: 2rem 1rem 1rem 1rem;
  }
  #section1 aside {
    width: 100%;
  }
  #about {
    flex-direction: column;
  }
  #about .about-content {
    padding: 1.5rem !important;
  }
  #contactbtn {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 840px) {
  .navModel,
  #menuBar,
  #closeMenuBar {
    display: none !important;
  }
}

/* About sections */
#about {
  display: flex;
  height: auto;
  padding: 5rem 1rem 1rem 1rem;
  margin: 2rem 0;
}

#about .about-img {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
#about .about-img .revealImg {
  width: 20rem;
  height: 26rem;
  border: #a00e13;
  border: 5px solid #a00e13;
  transform-origin: left;
  border-radius: 20px;
  box-shadow: 2px 2px 50px 10px rgba(243, 13, 13, 0.552);
}
#about .about-content {
  width: 100%;
  padding: 3rem;
}
#about .about-content h1,
#contact span {
  margin: 0 0 1rem 0;
  font-size: 2.8rem;
  color: #a00e13;
  text-shadow: 1px 1px 3px rgba(252, 252, 252, 1);
}
#about .about-content h1 span,
#project_section h2 span,
.skills h2 span {
  color: #fff;
}
#about .about-content h3,
#contact h1 span,
p {
  color: #fff;
  margin: 1rem 0;
}
#about .about-content p {
  text-align: justify;
}

/* eduction */
.eduction {
  height: auto;
  padding-top: 4rem;
  margin-top: 1rem;
}
.eduction h2,
.skills h2,
#contact h1 {
  font-size: 2.8rem;
  color: #a00e13;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(252, 252, 252, 1);
  margin: 2rem 0;
}
.eduction h2 span {
  color: #fff;
}
.eduction .timeline {
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
}
.eduction .timeline::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #fff;
  top: 0;
  border-radius: 5px;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 3s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
.eduction .timeline .container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.eduction .timeline .container:nth-child(2) {
  animation-delay: 1s;
}
.eduction .timeline .container:nth-child(3) {
  animation-delay: 2s;
}
.eduction .timeline .container img {
  font-size: 1rem;
  border-radius: 50%;
  position: absolute;
  right: -20px;
  top: 32px;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  border: 4px solid #333;
  z-index: 10;
}
.eduction .timeline .right-container img {
  left: -20px;
}
.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #a00e13;
  right: -14px;
}
.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #a00e13;
  left: -14px;
}
.eduction .text-box {
  padding: 20px 30px;
  background-color: #a00e13;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  color: #fff;
  box-shadow: 1px 1px 40px 5px rgba(252, 252, 252, 1);
}
.eduction .timeline .container .text-box h3 {
  font-weight: 600;
  text-align: left;
}
.eduction .text-box small {
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 500;
}
.eduction .text-box p {
  padding: 0 0.5rem 0 0;
}
.left-container {
  left: 0;
}
.right-container {
  left: 50%;
}

@media screen and (max-width: 680px) {
  .eduction .timeline {
    margin: 50px auto;
  }
  .eduction .timeline::after {
    left: 31px;
  }
  .eduction .timeline .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .eduction .text-box {
    font-size: 13px;
    box-shadow: 1px 1px 10px 2px rgba(252, 252, 252, 1);
  }
  .eduction .text-box small {
    margin-bottom: 10px;
  }
  .eduction .timeline .right-container {
    left: 0;
  }
  .eduction .timeline .left-container img,
  .eduction .timeline .right-container img {
    left: 10px;
  }
  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #fff;
    border-left: 0;
    left: -15px;
  }
  .eduction .text-box p {
    text-align: left;
  }
}

/* skills */
.skills {
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 4rem 1rem 1rem 1rem;
}
.skills h3 {
  margin-top: 1.2rem;
}
.skills .skills-container {
  perspective: 1000px;
  perspective-origin: 50% 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
}
.skills .skills-container .left,
.skills .skills-container .right {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.skills .skills-container .left div,
.skills .skills-container .right div {
  border: 2px solid #fff;
  box-shadow: 1px 1px 10px 2px rgba(252, 252, 252, 1);
  width: 8rem;
  height: 7rem;
  padding: 1rem;
  border-radius: 20px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(160, 14, 19, 1) 100%
  );
  margin: 1rem 0.4rem;
}
.skills .skills-container .left div:hover,
.skills .skills-container .right div:hover {
  cursor: pointer;
  scale: 1.2;
  transition: all 0.4s ease;
}
@keyframes rotateRing {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.skills .skills-container div img {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: rotateRing 5s infinite linear;
}
.skills .skills-container div h3 {
  text-align: center;
  color: #fff;
  font-weight: 500;
}
/* projects */
#project_section {
  height: auto;
  padding: 5rem 1rem 1rem 1rem;
  margin: 3rem 0;
}
#project_section h2 {
  margin: 0 0 1rem 0;
  font-size: 2.8rem;
  text-align: center;
  color: #a00e13;
  text-shadow: 1px 1px 3px rgba(252, 252, 252, 1);
}
#project_section .projects {
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  display: flex;
  overflow: auto;
  margin: 1rem 0 2rem 0;
}
#project_section .projects .cards {
  margin: 1rem;
  width: 15rem;
  height: 20rem;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  position: relative;
}
#project_section .projects .cards .front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: linear-gradient(
    180deg,
    rgba(252, 252, 252, 1) 0%,
    rgba(187, 11, 17, 1) 72%
  );
  box-shadow: 3px 3px 4px rgba(163, 160, 160, 0.8);
  color: #333;
  border-radius: 1.2rem;
  overflow: hidden;
  padding: 0.5rem;
}
#project_section .projects .cards .front img {
  height: 60%;
  border-radius: 1.2rem;
  width: 100%;
}
#project_section .projects .cards .front h3 {
  text-align: center;
  padding: 2rem 1rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}
#project_section .projects .cards .back {
  position: absolute;
  padding: 1rem;
  box-shadow: 2px 2px 5px 10px rgba(163, 160, 160, 0.8);
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #a00e13;
  color: #333;
  transform: rotateY(180deg);
  border-radius: 1.2rem;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}
#project_section .projects .cards .back h4 {
  text-align: center;
  color: #fff;
}
#project_section .projects .cards .back h3 {
  text-align: left;
  background-color: #333;
  color: #fff;
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;
  margin: 1rem 0 0 0;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
}
#project_section .projects .cards .back ul {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  color: #fff;
  height: 8rem;
  padding: 0.5rem 1rem;
}
#project_section .projects .cards .back a {
  text-decoration: none;
  color: #fff;
  border: 2px dotted #fff;
  padding: 0.2rem 1rem;
  width: 100%;
  border-radius: 1rem;
  text-align: center;
  background-color: #333;
  display: block;
  margin: 0 auto;
}
/* collaps */
.collapsible {
  margin: 0.3rem 0;
  color: #fff;
  font-size: 14px;
  height: 2rem;
  cursor: pointer;
  width: 100%;
  background-color: #333;
}
.content {
  margin: 0.2rem;
  color: #fff;
  height: auto;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  text-align: justify;
  background-color: #a00e13;
}
#project_section .projects .cards:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}
.active,
.collapsible:hover {
  background-color: #7c2222;
}

/* Contact */
#contact {
  padding: 4rem 1rem 1rem 1rem;
}
#contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
#contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#contact form .input-box input,
#contact form textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  border: none;
  outline: none;
  background-color: #9d3d3d;
  box-shadow: 3px 3px 4px rgba(163, 160, 160, 0.8);
}
#contact form .input-box input {
  width: 49%;
  color: #fff;
  margin: 0.4rem 0;
}
#contact form .input-box input:focus,
#contact form textarea:focus {
  border: 2px solid #a00e13;
  background-color: #d2383b;
}
#contact form textarea {
  resize: none;
  color: #fff;
}
#contact form #messagebtn {
  margin-top: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  #contact form .input-box {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #contact form .input-box input {
    width: 100%;
  }
}
/* footer */

footer {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 10px rgba(252, 252, 252, 1);
  color: #fff;
}
footer img {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0.2rem 0.4rem;
}
